html,
body {
    height: 100%;
}

.wrap {
    background: #F5f5f5;
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 65px 0 60px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.breadcrumb{
    padding-top: 50px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*added*/

.navbar{
    vertical-align: middle;
    min-height: 65px;
    background: black;
    color: white;
    border:0;
    box-shadow: 0px 5px 3px 0.25px rgba(0, 0, 0, 0.15);
    line-height: 3;
}

.navbar .btn-link:hover,.btn-link:focus{
    color:#909090;
    text-decoration: none;
}

.navbar-inverse .btn-link{
    color: white;
}
a { color:inherit; }

/*used at site/index*/
.site-index{
    margin-top: 20px;
    padding: 0 50px;
    -webkit-transition: .7s ease;
            transition: .7s ease;
}

.site-index .col-xs-2{
    padding:0;
}
.site-index .col-xs-2 a{
    text-decoration: none;
}
.site-index .module{
    background-color: white;
    text-align: center;
    height: 128px;
    width: 128px;
    margin: 5px 10px;
    border-radius: 10px;
    -webkit-transition: .7s ease;
            transition: .7s ease;
    border: 1px solid transparent;
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.15);

}
.site-index .module .module-icon{
    padding-top: 30px;
    padding-bottom: 1px;
    color: #777777;
    -webkit-transition: .7s ease;
            transition: .7s ease;
}
.site-index .module .module-text{
    color: #777777;
    -webkit-transition: .7s ease;
            transition: .7s ease;
}

.site-index .module:hover{
    border-color: #ff5722;
}

.site-index .module:hover .module-text, .site-index .module:hover .module-icon{
    color:#ff5722;
}

.site-index .module:hover .module-icon{
    -webkit-transform: scale(1.1,1.1);
            transform: scale(1.1,1.1);
}

.site-index .module .module-text{
    font-size: 0.9em;
}

/*used at general/index*/
.content{
    padding-top: 70px;
}

.module-title{
    border-bottom:1px solid #b6b6b6;
}
.module-title h1{
    font-size: 2.5em;
}

.nav li {
    display: block;
    text-indent: 20px;
    line-height: 40px;
}

.nav-stacked li:hover {
    background: #eee;
}

.features-detail{
    border: 1px solid #b6b6b6;
    border-top: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}


/*view cuti*/
.feature-menu{
    position: absolute;
    width: 200px;
    overflow-y: hidden;
    box-shadow: 3px 5px 4px 0.25px rgba(0,0,0,0.15);
}

.feature-menu .list-group{
    margin-bottom: 0px;
}

.feature-menu .list-group-item{
    border:0px;
}

.cuti-index, .cuti-view, .cuti-create, .cuti-update,
.hutang-index, .hutang-view, .hutang-create, .hutang-update,
.karyawan-index, .karyawan-view, .karyawan-create, .karyawan-update{
    padding-left: 220px;
}

.form-label{
    text-align:right;
}

.form-container{
}

.date-field{
    width: 160px;
}

.header-text{
    padding-bottom: 20px;
}

.cuti-create-box{
    width: 600px;
    border: 1px solid #b6b6b6;
    border-radius: 10px;
    margin: 0 auto;
    padding-bottom: 10px;
    background: white;
}

.cuti-form, .karyawan-form{
    width: 550px;
}

.cuti-view, .karyawan-view{
    max-width: 800px;
    width: 100%;d
}

.table{
    background-color: white;
}

.table thead tr th {
    color: #448AFF;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}

.table tbody tr{
    -webkit-transition: .3s ease;
            transition: .3s ease;   
}
.table tbody tr:hover{
    background-color: #fafafa;
}

.table tbody tr.selected{
    background-color: #efefef;
}

p .btn {
    box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.15);
    border-radius: 1px;
}

.box{
    background-color: white;
    box-shadow: 3px 5px 4px 0.25px rgba(0,0,0,0.15);
}

.box {
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 1px;
    margin-bottom: 20px;
}

.box h1{
    padding-top: 27px;
}

.table.detail-view{
    margin-top: 20px;
    margin-bottom: 20px;
}

.table.detail-view th {
    width: 27%;
    text-indent: 10px;
    color: #448AFF;
    vertical-align: middle;
}

.table.detail-view td {
    widows: 73%;
    vertical-align: middle;
}

.table.detail-view tr {
    height: 50px;
}

.cuti-view .btn-danger{
    margin-left: 5px; 
}

p .btn {
    border-radius: 5px;
}

.date-label:before {
    content: "\f073";
    font-family: FontAwesome;
    font-weight: 300;
    line-height: 30px;
    /* more styling for the icon, including color, font-size, positioning, etc. */
}

/*Sidebar*/
.sidebar .list-group{
    margin-bottom: 0px;
    background: #ff5722;
}

.sidebar .list-group-item{
    padding-left: 10px;
}

.sidebar{
    position: absolute;
    left: 0px;
    min-height: 90%;
    width: 200px;
    background: #444 ;
    -webkit-transition: .7s ease;
            transition: .7s ease;
}
.sidebar .list-group-item{
    background: #444 ;
    color: white;
    border: 0;
    border-radius: 0;
}

.list-group-item.active{
    color: white;
    background: #ff5722;
}

.sidebar .list-group-item:hover,
.sidebar .list-group-item:focus{
    color: white;
    background: #ff5722;
}


.sidebar-items{
    text-indent: 10px;
}
